{
    frankenphp
}

# O nome de domínio do seu servidor
localhost {
    # Define o diretório raiz como public/
    root public/
    # Habilita a compressão (opcional)
    encode zstd br gzip
    # Executa os arquivos PHP a partir do diretório public/ e serve os assets
    php_server {
        try_files {path} index.php
    }
}